<style>
@media (max-width: 600px) {
    img[style] { width: 90% !important; }
}
</style>

# SUBQUERIES 

<hr>

A subquery (also called an inner query or nested query) is a query that is nested inside another query. It is executed first, and its result is used by the outer query.
- Outer query: The main query that uses the result of the subquery.
- Inner query (subquery): The query inside parentheses that produces a value or set of values for the outer query

<hr>

### Syntax

```sql
SELECT column1, column2
FROM table1
WHERE column3 = (SELECT column3 FROM table2 WHERE condition);
```

<hr>

#### We can use a subquery in a WHERE clause to set a condition based on values from another table or the result of another query:

```sql
SELECT *
FROM employee_demographics
WHERE employee_id IN
		(SELECT employee_id
			FROM employee_salary
            WHERE dept_id = 1
)
;
```

In the following we are: 
1. (SUBQUERY is executed first) SELECTING employee_id
2. from the employee_salary table
3. with a condition that the row has a dept_id value of 1
4. we are then selecting everything
5. from the employee_demographics table
6. with a condition that the employee_id occurs in the same output as the subquery (employee_id values)

<br>

<img src="static/SUBQUERIES_01.png" style="display: flex; width: 40%; margin:auto;">

<hr>

#### We can also use subqueries in a SELECT statement 

```sql
SELECT first_name, last_name, salary,
(SELECT AVG(salary)
FROM employee_salary) as avg_salary
FROM employee_salary
;
```

<img src="static/SUBQUERIES_02.png" style="display: flex; width: 40%; margin:auto;">

**Note:** for the above we cannot use a where clause in the main query because the WHERE clause is executed before the SELECT clause, so avg_salary doesnâ€™t exist yet there.

**A <span style="color: lightgreen;">solution</span> to this:**

Repeat the subquery in the WHERE clause

```sql
SELECT first_name, last_name, salary,
       (SELECT AVG(salary) FROM employee_salary) as avg_salary
FROM employee_salary
WHERE salary < (SELECT AVG(salary) FROM employee_salary);
```