In [45]:
# Extrovert vs Introvert dataset has already been loaded from "How to use kaggle datasets in jupyter notebook" 

# Load the dataset
import pandas as pd
df = pd.read_csv('datasets/personality_dataset.csv')

In [46]:
# Load top 5 results 
df.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert

In [9]:
# Get a quick overview of the data
df.describe()

,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency
count,2837.000000,2838.000000,2834.000000,2823.000000,2835.000000
mean,4.505816,3.963354,3.000000,6.268863,3.564727
std,3.479192,2.903827,2.247327,4.289693,2.926582
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,2.000000,1.000000,3.000000,1.000000
50%,4.000000,3.000000,3.000000,5.000000,3.000000
75%,8.000000,6.000000,5.000000,10.000000,6.000000
max,11.000000,10.000000,7.000000,15.000000,10.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2837 non-null   float64
 1   Stage_fear                 2827 non-null   object
 2   Social_event_attendance    2838 non-null   float64
 3   Going_outside              2834 non-null   float64
 4   Drained_after_socializing  2848 non-null   object
 5   Friends_circle_size        2823 non-null   float64
 6   Post_frequency             2835 non-null   float64
 7   Personality                2900 non-null   object
dtypes: float64(5), object(3)
memory usage: 181.4+ KB

In [12]:
df.select_dtypes(include='number').corr()

,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency
Time_spent_Alone,1.000000,-0.733011,-0.750760,-0.717185,-0.732649
Social_event_attendance,-0.733011,1.000000,0.747756,0.734795,0.744615
Going_outside,-0.750760,0.747756,1.000000,0.736390,0.770819
Friends_circle_size,-0.717185,0.734795,0.736390,1.000000,0.707888
Post_frequency,-0.732649,0.744615,0.770819,0.707888,1.000000

In [21]:
df["Personality"].value_counts(dropna=False)

Personality
Extrovert    1491
Introvert    1409
Name: count, dtype: int64

In [23]:
# Average post rating by personality type
df.groupby("Personality")["Post_frequency"].mean()

Personality
Extrovert    5.638546
Introvert    1.368918
Name: Post_frequency, dtype: float64

In [25]:
# Average alone time by personality type
df.groupby("Personality")["Time_spent_Alone"].mean()

Personality
Extrovert    2.067261
Introvert    7.080435
Name: Time_spent_Alone, dtype: float64

In [28]:
# Does stage fear play a role in personality type? 
df.groupby("Personality")["Stage_fear"].value_counts()

Personality  Stage_fear
Extrovert    No            1338
             Yes            111
Introvert    Yes           1299
             No              79
Name: count, dtype: int64

In [30]:
# Average friend size of personality type
df.groupby("Personality")["Friends_circle_size"].mean()

Personality
Extrovert    9.173673
Introvert    3.196793
Name: Friends_circle_size, dtype: float64

In [31]:
# Largest friend size of personality type
df.groupby("Personality")["Friends_circle_size"].max()

Personality
Extrovert    15.0
Introvert    14.0
Name: Friends_circle_size, dtype: float64

In [32]:
# Smallest friend size of personality type
df.groupby("Personality")["Friends_circle_size"].min()

Personality
Extrovert    0.0
Introvert    0.0
Name: Friends_circle_size, dtype: float64

In [48]:
filtered = df[(df["Friends_circle_size"] == 14) & (df["Personality"] == "Introvert")]
filtered

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
550,0.0,No,7.0,4.0,No,14.0,NaN,Introvert
720,3.0,No,4.0,4.0,No,14.0,7.0,Introvert
851,1.0,No,5.0,4.0,No,14.0,3.0,Introvert
883,2.0,No,8.0,6.0,No,14.0,3.0,Introvert
912,2.0,No,7.0,6.0,No,14.0,8.0,Introvert
951,2.0,No,4.0,5.0,No,14.0,7.0,Introvert
1101,2.0,No,7.0,5.0,No,14.0,5.0,Introvert
1439,2.0,No,8.0,7.0,No,14.0,7.0,Introvert
1552,1.0,No,8.0,7.0,No,14.0,6.0,Introvert
1581,2.0,No,8.0,6.0,No,14.0,9.0,Introvert
1859,0.0,No,7.0,7.0,No,14.0,8.0,Introvert
1860,2.0,No,9.0,5.0,No,14.0,7.0,Introvert
1916,2.0,No,7.0,5.0,No,14.0,7.0,Introvert
2106,0.0,No,7.0,6.0,No,14.0,7.0,Introvert
2208,1.0,No,7.0,5.0,No,14.0,8.0,Introvert
2293,1.0,No,9.0,5.0,No,14.0,9.0,Introvert
2457,0.0,No,9.0,5.0,No,14.0,9.0,Introvert
2678,2.0,No,9.0,7.0,No,14.0,5.0,Introvert