# Pandas Exercises (Basics for data analysis)

## ðŸ“Œ Sample Dataset (CSV)

In [1]:
import pandas as pd

# Sample sales dataset
data = {
    "Order_ID": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "Customer": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Alice", "Bob", "Charlie"],
    "Category": ["Electronics", "Furniture", "Electronics", "Clothing", "Furniture", 
                 "Clothing", "Electronics", "Furniture", "Clothing", "Electronics"],
    "Product": ["Laptop", "Chair", "Phone", "Shirt", "Table", "Shoes", "Headphones", "Sofa", "Jacket", "Tablet"],
    "Quantity": [1, 2, 1, 3, 1, 2, 1, 1, 2, 1],
    "Price_per_unit": [1000, 200, 800, 50, 300, 80, 150, 500, 120, 400],
    "Date": pd.to_datetime(["2024-03-01", "2024-03-02", "2024-03-03", "2024-03-04", 
                             "2024-03-05", "2024-03-06", "2024-03-07", "2024-03-08", 
                             "2024-03-09", "2024-03-10"])
}

df = pd.DataFrame(data)
df.to_csv("sales_data.csv", index=False)

### ðŸ”¹ Exercises

1. Load the dataset \
	â€¢	Read the dataset from sales_data.csv and display the first 5 rows.

2. Add a new column for total sales \
	â€¢	Create a new column Total_Sales by multiplying Quantity with Price_per_unit.

3. Filter data \
	â€¢	Find all sales where the Total_Sales is greater than 500.

4. Find the most purchased category \
	â€¢	Identify which Category has the highest total quantity sold.

5. Find the top 2 customers with the highest total spending \
	â€¢	Group by Customer, sum the Total_Sales, and display the top 2 spenders.

6. Find the most expensive item sold \
	â€¢	Identify the item with the highest Price_per_unit.

7. Add a discount column \
	â€¢	Create a new column Discounted_Price where a 10% discount is applied if the Quantity purchased is more than 1.

8. Find daily total sales \
	â€¢	Group by Date and find the total sales per day.

9. Pivot Table Analysis \
	â€¢	Create a pivot table showing total sales by Category and Customer.