In [5]:
import plistlib
import pandas as pd

# Load Apple Music library
with open("/Users/brandonfourie/Desktop/Library.xml", "rb") as f:
    plist = plistlib.load(f)

tracks = plist["Tracks"]
songs = []

# Extract track info
for track_id, track_info in tracks.items():
    song = {
        "Track ID": track_info.get("Track ID"),
        "Name": track_info.get("Name"),
        "Artist": track_info.get("Artist"),
        "Album": track_info.get("Album"),
        "Genre": track_info.get("Genre"),
        "Play Count": track_info.get("Play Count"),
        "Total Time (ms)": track_info.get("Total Time"),
        "Date Added": track_info.get("Date Added"),
        "Skip Count": track_info.get("Skip Count")
    }
    songs.append(song)

# Create DataFrame and save to CSV
df = pd.DataFrame(songs)
df.to_csv("apple_music_library.csv", index=False)

In [11]:
df.head()

,Track ID,Name,Artist,Album,Genre,Play Count,Total Time (ms),Date Added,Skip Count
0,917,2 Heads,Coleman Hell,Coleman Hell - EP,Alternative,45.0,212427,2016-02-13 18:04:29,5.0
1,919,All Girls Are the Same,Juice WRLD,Goodbye & Good Riddance,Hip-Hop/Rap,61.0,165820,2019-03-10 20:02:41,NaN
2,921,Lucid Dreams,Juice WRLD,Goodbye & Good Riddance,Hip-Hop/Rap,16.0,239836,2019-03-10 20:02:41,1.0
3,923,Lean Wit Me,Juice WRLD,Goodbye & Good Riddance,Hip-Hop/Rap,19.0,175755,2019-03-10 20:02:41,NaN
4,925,Scared Of Love,Juice WRLD,Goodbye & Good Riddance,Hip-Hop/Rap,17.0,170539,2019-03-10 20:02:41,3.0

In [12]:
# Quick shape and info
print("Shape:", df.shape)
df.info()

# Summary stats
df.describe(include='all')

Shape: (616, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Track ID         616 non-null    int64
 1   Name             616 non-null    object
 2   Artist           610 non-null    object
 3   Album            602 non-null    object
 4   Genre            606 non-null    object
 5   Play Count       611 non-null    float64
 6   Total Time (ms)  616 non-null    int64
 7   Date Added       614 non-null    datetime64[ns]
 8   Skip Count       556 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 43.4+ KB

,Track ID,Name,Artist,Album,Genre,Play Count,Total Time (ms),Date Added,Skip Count
count,616.000000,616,610,602,606,611.000000,616.000000,614,556.000000
unique,NaN,601,358,474,33,NaN,NaN,NaN,NaN
top,NaN,Heartless,The Weeknd,Hollywood's Bleeding,Hip-Hop/Rap,NaN,NaN,NaN,NaN
freq,NaN,3,33,17,216,NaN,NaN,NaN,NaN
mean,1532.183442,NaN,NaN,NaN,NaN,26.901800,211971.400974,2021-07-01 10:45:15.550488576,3.544964
min,917.000000,NaN,NaN,NaN,NaN,1.000000,83333.000000,2016-02-13 18:04:29,1.000000
25%,1224.500000,NaN,NaN,NaN,NaN,13.000000,174962.750000,2019-08-15 05:38:23.249999872,2.000000
50%,1532.000000,NaN,NaN,NaN,NaN,22.000000,206663.500000,2020-07-09 11:17:36,3.000000
75%,1839.500000,NaN,NaN,NaN,NaN,35.500000,240204.250000,2023-09-21 22:16:02,5.000000
max,2151.000000,NaN,NaN,NaN,NaN,149.000000,492573.000000,2025-04-20 16:40:40,16.000000
std,356.240447,NaN,NaN,NaN,NaN,20.226995,56279.105230,NaN,2.250876

In [14]:
# Check how many missing values are in each column:
df.isnull().sum()

Track ID            0
Name                0
Artist              6
Album              14
Genre              10
Play Count          5
Total Time (ms)     0
Date Added          2
Skip Count         60
dtype: int64